html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.centralizado {
    display: grid;
    place-items: center;
    width: 100%;
    height: 100%;
    background-color: white;
}

.breadCrumb {
    color: white!important;
}

/*Crawler da tela inicial*/

.telaPrincipal {
    display: grid;
    place-items: center;
    overflow: hidden;
    color: yellow;
    background: #000;
    height: 100%;
}

.letreiro {
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 400px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 500%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: center;
}

.crawl {
    position: relative;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
}

@keyframes crawl {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}
